In [2]:
## Getting the data and loading packages
library(tidyverse)
library(stringr)
library(ggmap)
library(forcats)
library(rvest)

Loading required package: xml2
Warning message:
“package ‘xml2’ was built under R version 3.3.2”
Attaching package: ‘rvest’

The following object is masked from ‘package:purrr’:

    pluck

The following object is masked from ‘package:readr’:

    guess_encoding

In [9]:
## Scraping data from Wikipedia
html.world_ports <- read_html("https://en.wikipedia.org/wiki/List_of_busiest_container_ports")
df.world_ports <- html_table(html_nodes(html.world_ports, "table")[[1]], fill=TRUE)

In [10]:
## inspecting
glimpse(df.world_ports)

Observations: 50
Variables: 18
$ `#`          <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,...
$ Port         <chr> "Shanghai", "Singapore", "Shenzhen", "Ningbo-Zhoushan"...
$ Jurisdiction <chr> "China", "Singapore", "China", "China", "South Korea",...
$ Region       <chr> "East Asia", "Southeast Asia", "East Asia", "East Asia...
$ Location     <chr> "Yangtze Delta", "Malacca Strait", "Pearl River Delta"...
$ `2016`       <chr> "37,133[12]", "30,904[13]", "23,979[14]", "21,560[15]"...
$ `2015[1]`    <chr> "36,537[12]", "30,922[13]", "24,204[14]", "20,620[15]"...
$ `2014[1]`    <chr> "35,268", "33,869", "23,798", "19,450", "18,423", "22,...
$ `2013[2]`    <chr> "33,617", "32,240", "23,280", "17,351", "17,690", "22,...
$ `2012[3]`    <chr> "32,529", "31,649", "22,940", "16,670", "17,046", "23,...
$ `2011[4]`    <chr> "31,700", "29,937", "22,570", "14,686", "16,185", "24,...
$ `2010[5]`    <chr> "29,069", "28,431", "22,510", "13,144", "14,157", "23,...
$ `2009[6]`    <chr> "25,002", "25,866", "18,250", "10,502", "11,954", "20,...
$ `2008[7]`    <chr> "27,980", "29,918", "21,414", "11,226", "13,425", "24,...
$ `2007[8]`    <chr> "26,150", "27,932", "21,099", "9,349", "13,270", "23,8...
$ `2006[9]`    <chr> "21,710", "24,792", "18,469", "7,068", "12,039", "23,5...
$ `2005[10]`   <chr> "18,084", "23,192", "16,197", "5,208", "11,843", "22,4...
$ `2004[11]`   <chr> "14,557", "21,329", "13,615", "4,006", "11,430", "21,9...

In [12]:
## Renaming the variables
 # transform names to lowercase
colnames(df.world_ports) <- colnames(df.world_ports) %>% tolower()

# inspect
colnames(df.world_ports)

 [1] "#"            "port"         "jurisdiction" "region"       "location"
 [6] "2016"         "2015[1]"      "2014[1]"      "2013[2]"      "2012[3]"
[11] "2011[4]"      "2010[5]"      "2009[6]"      "2008[7]"      "2007[8]"
[16] "2006[9]"      "2005[10]"     "2004[11]"

In [18]:
# Get geospatial information (longitude/latitude)
geocode.world_ports <- geocode(df.world_ports$port)

Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Shanghai&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Singapore&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Singapore"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Shenzhen&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Shenzhen"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Ningbo-Zhoushan&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Busan&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Hong%20Kong&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Hong Kong"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Guangzhou&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Guangzhou"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Qingdao&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Dubai&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Dubai"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Tianjin&sensor=false
.Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Port%20Klang&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Rotterdam&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Kaohsiung&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Antwerp&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Antwerp"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Dalian&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Xiamen&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Xiamen"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Hamburg&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Hamburg"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Los%20Angeles&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Los Angeles"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Tanjung%20Pelepas&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Laem%20Chabang&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Long%20Beach&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=New%20York&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "New York"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Yingkou&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Saigon&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Colombo&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Bremerhaven&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Bremerhaven"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Jakarta&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Jakarta"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Algeciras&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Algeciras"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Valencia&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Lianyungun&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Tokyo&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Manila&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Manila"”.Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Jawaharlal%20Nehru&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Khor%20Fakkan&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Taicang&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Felixstowe&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Jeddah&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Piraeus&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Savannah&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Dongguan&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Seattle/Tacoma&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Santos&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Tanjung%20Perak&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Tanjung Perak"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Salalah&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Salalah"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Mundra&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Mundra"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Col%C3%B3n&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Colón"”.Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Marsaxlokk&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Nanjing&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Nanjing"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Port%20Said&sensor=false
Warning message:
“geocode failed with status OVER_QUERY_LIMIT, location = "Port Said"”Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Rizhao&sensor=false

In [21]:
head(geocode.world_ports)

  lon      lat
1 121.4737 31.23039
2       NA       NA
3       NA       NA
4 121.9878 29.90195
5 129.0756 35.17955
6       NA       NA

In [22]:
#--------------------------------------------------------
# COMBINE:
# - bind the new lat/long data to df.world_ports data frame
#--------------------------------------------------------
df.world_ports <- cbind(df.world_ports, geocode.world_ports)
head(df.world_ports)

  # port            jurisdiction  region         location          2016
1 1 Shanghai        China         East Asia      Yangtze Delta     37,133[12]
2 2 Singapore       Singapore     Southeast Asia Malacca Strait    30,904[13]
3 3 Shenzhen        China         East Asia      Pearl River Delta 23,979[14]
4 4 Ningbo-Zhoushan China         East Asia      Yangtze Delta     21,560[15]
5 5 Busan           South Korea   East Asia      Korean Strait     19,850[16]
6 6 Hong Kong       Hong Kong SAR East Asia      Pearl River Delta 19,813[17]
  2015[1]    2014[1] 2013[2] 2012[3] 2011[4] 2010[5] 2009[6] 2008[7] 2007[8]
1 36,537[12] 35,268  33,617  32,529  31,700  29,069  25,002  27,980  26,150
2 30,922[13] 33,869  32,240  31,649  29,937  28,431  25,866  29,918  27,932
3 24,204[14] 23,798  23,280  22,940  22,570  22,510  18,250  21,414  21,099
4 20,620[15] 19,450  17,351  16,670  14,686  13,144  10,502  11,226  9,349
5 19,469[16] 18,423  17,690  17,046  16,185  14,157  11,954  13,425  13,270
6 20,073[17] 22,374  22,352  23,117  24,384  23,532  20,983  24,248  23,881
  2006[9] 2005[10] 2004[11] lon      lat
1 21,710  18,084   14,557   121.4737 31.23039
2 24,792  23,192   21,329         NA       NA
3 18,469  16,197   13,615         NA       NA
4 7,068   5,208    4,006    121.9878 29.90195
5 12,039  11,843   11,430   129.0756 35.17955
6 23,539  22,427   21,984         NA       NA

In [23]:
## Manually code missing latitude/longitude data
#=========================================================================================
# RECODE lon and lat
# - There are 4 lon/lat values that weren't found with geocode()
# - We'll just hand code them
# - The values can be obtained at http://www.latlong.net/convert-address-to-lat-long.html
#
#
# Tanjung Pelepas, Johor Bahru: lon = 103.551035, lat = 1.362374
# Yingkou:..................... lon = 122.108231, lat = 40.266062
# Valencia, Spain:............. lon = -0.3762881, lat = 39.46991
# Malta Freeport:.............. lon = 14.537637 , lat = 35.816287
#
#=========================================================================================

df.world_ports <- df.world_ports %>%
                        mutate( lon = case_when(.$port == "Tanjung Pelepas" ~ 103.551035
                                                ,.$port == "Yingkou"        ~ 122.108231
                                                ,.$port == "Valencia"       ~ -0.3762881
                                                ,.$port == "Malta Freeport" ~ 14.537637
                                                ,.$port == "Port Said" ~ 32.301866
                                                ,.$port == "Nanjing" ~ 118.796877
                                                ,TRUE ~ .$lon
                                                )
                                ,lat = case_when(.$port == "Tanjung Pelepas" ~ 1.362374
                                                ,.$port == "Yingkou"        ~ 40.266062
                                                ,.$port == "Valencia"       ~ 39.46991
                                                ,.$port == "Malta Freeport" ~ 35.816287
                                                ,.$port == "Port Said" ~ 31.265289
                                                ,.$port == "Nanjing" ~ 32.060255
                                                ,TRUE ~ .$lat
                                                )
                                )

# CHECK
df.world_ports %>% filter(port == "Tanjung Pelepas") %>% select(lat,lon)
df.world_ports %>% filter(port == "Yingkou") %>% select(lat,lon)
df.world_ports %>% filter(port == "Valencia") %>% select(lat,lon)
df.world_ports %>% filter(port == "Malta Freeport") %>% select(lat,lon)

Warning message:
“package ‘bindrcpp’ was built under R version 3.3.2”

  lat      lon
1 1.362374 103.551

  lat      lon
1 40.26606 122.1082

  lat      lon
1 39.46991 -0.3762881

     lat lon

In [24]:
df.world_ports

   #  port             jurisdiction         region
1   1 Shanghai         China                East Asia
2   2 Singapore        Singapore            Southeast Asia
3   3 Shenzhen         China                East Asia
4   4 Ningbo-Zhoushan  China                East Asia
5   5 Busan            South Korea          East Asia
6   6 Hong Kong        Hong Kong SAR        East Asia
7   7 Guangzhou        China                East Asia
8   8 Qingdao          China                East Asia
9   9 Dubai            United Arab Emirates Western Asia
10 10 Tianjin          China                East Asia
11 11 Port Klang       Malaysia             Southeast Asia
12 12 Rotterdam        Netherlands          Northern Europe
13 13 Kaohsiung        Taiwan               East Asia
14 14 Antwerp          Belgium              Northern Europe
15 15 Dalian           China                East Asia
16 16 Xiamen           China                East Asia
17 17 Hamburg          Germany              Northern Europe
18 18 Los Angeles      United States        North America
19 19 Tanjung Pelepas  Malaysia             Southeast Asia
20 20 Laem Chabang     Thailand             Southeast Asia
21 21 Long Beach       United States        North America
22 22 New York         United States        North America
23 23 Yingkou          China                East Asia
24 24 Saigon           Vietnam              Southeast Asia
25 25 Colombo          Sri Lanka            South Asia
26 26 Bremerhaven      Germany              Northern Europe
27 27 Jakarta          Indonesia            Southeast Asia
28 28 Algeciras        Spain                Southern Europe
29 29 Valencia         Spain                Southern Europe
30 30 Lianyungun       China                East Asia
31 31 Tokyo            Japan                East Asia
32 32 Manila           Philippines          East Asia
33 33 Jawaharlal Nehru India                South Asia
34 34 Khor Fakkan      United Arab Emirates Western Asia
35 35 Taicang          China                East Asia
36 36 Felixstowe       United Kingdom       Northern Europe
37 37 Jeddah           Saudi Arabia         Western Asia
38 38 Piraeus          Greece               Southern Europe
39 39 Savannah         United States        North America
40 40 Dongguan         China                East Asia
41 41 Seattle/Tacoma   United States        North America
42 42 Santos           Brazil               South America
43 43 Tanjung Perak    Indonesia            Southeast Asia
44 44 Salalah          Oman                 Western Asia
45 45 Mundra           India                South Asia
46 46 Colón            Panama               Central America
47 47 Marsaxlokk       Malta                Southern Europe
48 48 Nanjing          China                East Asia
49 49 Port Said        Egypt                North Africa
50 50 Rizhao           China                East Asia
   location              2016       2015[1]      2014[1]  2013[2] 2012[3]
1  Yangtze Delta         37,133[12] 36,537[12]   35,268   33,617  32,529
2  Malacca Strait        30,904[13] 30,922[13]   33,869   32,240  31,649
3  Pearl River Delta     23,979[14] 24,204[14]   23,798   23,280  22,940
4  Yangtze Delta         21,560[15] 20,620[15]   19,450   17,351  16,670
5  Korean Strait         19,850[16] 19,469[16]   18,423   17,690  17,046
6  Pearl River Delta     19,813[17] 20,073[17]   22,374   22,352  23,117
7  Pearl River Delta     18,858[18] 17,625       16,160   15,309  14,744
8  Yellow Sea            18,010[19] 17,510       16,624   15,520  14,503
9  Arab Peninsula        14,772[20] 15,592       14,750   13,641  13,270
10 Yellow Sea            14,490[21] 14,090       14,050   13,010  12,300
11 Malacca Strait        13,170[22] 11,887       10,736   10,350  10,000
12 North sea             12,385[23] 12,235       12,453   11,621  11,866
13 Taiwan                10,465[24] 10,264       10,593   9,938   9,781
14 North sea             10,037[25] 9,654        9,136    8,578   8,635
15 Yellow Sea            9,614[26]  9,450        10,128   10,860  8,060
16 Taiwan strait         9,614[27]  9,183        8,572    8,010   7,202
17 North sea             8,910[28]  8,821        9,729    9,302   8,864
18 West Coast            8,857[29]  8,160        8,340    7,869   8,078
19 Malacca Strait        8,281[30]  9,120        8,500[1] 7,628   7,700
20 Gulf of Thailand      7,227[31]  6,780        6,518    6,032   5,830
21 West coast            6,775[32]  7,192        6,821    6,731   6,046
22 East Coast            6,252[33]  6,372        5,772    5,467   5,530
23 Liaodong Bay          6,086[34]  5,922
24 Ho Chi Minh City      5,987[35]  5,788[1][36] 6,334    5,542   5,060
25 Colombo               5,735[37]  5,185[1][37]
26 North sea             5,535 [38] 5,479[38]    5,796    5,831   6,115
27 Java Sea              5,515[39]  5,201[39]    5,034    6,590   6,200
28 Western Mediterranean 4,761[40]  4,516[40]    4,457    4,501   4,114
29 Western Mediterranean 4,722      4,616        4,442    4,328   4,470
30 Yellow Sea            4,703      4,703
31 Tokyo Bay             4,700      4,629        4,917    4,861   4,752
32 Manila Bay            4,523      3,976        3,673    3,770   3,705
33 Mumbai                4,516      4,480        4,496    4,162   4,260
34 Arab Peninsula        4,330      4,142        4,256    3,800   3,996
35 Yangtze Delta         4,081      3,760
36 North Sea             4,000      3,980        3,680    3,740   3,700
37 Arab Peninsula        3,957      4,188[41]    4,200    4,561   4,738
38 Eastern Mediterranean 3,737      3,330        3,164    2,745   1,680
39 East Coast            3,645      3,737        3,346    3,034   2,966
40 Pearl River Delta     3,640      3,363
41 West Coast            3,616      3,154        3,456    3,461   3,510
42                       3,394      3,645        3,685    3,446   3,172
43 Madura Strait         3,355      3,154
44 Arabian Sea           3,325      2,569
45 Gulf of Kutch         3,320      2,895
46 Caribbean coast       3,258      3,577        3,356    2,060   1,900
47 Eastern Mediterranean 3,084      3,064
48 Yangtze Delta         3,084      2,940
49 North of Suez Canal   3,036      3,462        3,036    4,100   3,631
50 Yellow Sea            3,010[43]  2,810[43]
   2011[4] 2010[5] 2009[6]   2008[7] 2007[8] 2006[9] 2005[10] 2004[11]
1  31,700  29,069  25,002    27,980  26,150  21,710  18,084   14,557
2  29,937  28,431  25,866    29,918  27,932  24,792  23,192   21,329
3  22,570  22,510  18,250    21,414  21,099  18,469  16,197   13,615
4  14,686  13,144  10,502    11,226  9,349   7,068   5,208    4,006
5  16,185  14,157  11,954    13,425  13,270  12,039  11,843   11,430
6  24,384  23,532  20,983    24,248  23,881  23,539  22,427   21,984
7  14,400  12,550  11,190    11,001  9,200   6,600   4,685    3,308
8  13,020  12,012  10,260    10,320  9,462   7,702   6,307    5,140
9  13,000  11,600  11,124    11,827  10,653  8,923   7,619    6,429
10 11,500  10,080  8,700     8,500   7,103   5,950   4,801    3,814
11 9,604   8,870   7,309     7,970   7,120   6,326   5,544    5,244
12 11,877  11,146  9,743     10,784  10,791  9,655   9,287    8,281
13 9,636   8,872   8,581     9,677   10,257  9,775   9,471    9,714
14 8,664   8,468   7,309     8,663   8,176   7,019   6,482    6,064
15 6,400   5,242   4,552     4,503   4,574   3,212   2,665    2,211
16 6,461   5,820   4,680     5,035   4,627   4,019   3,342    2,872
17 9,022   7,900   7,007     9,737   9,890   8,862   8,088    7,003
18 7,941   7,832   6,748     7,850   8,355   8,470   7,485    7,321
19 7,500   6,530   6,000     5,600   5,500   4,770   4,177    4,020
20 5,731   5,068   4,538     5,134   4,642   4,123   3,834    3,529
21 6,061   6,263   5,067     6,350   7,316   7,289   6,710    5,780
22 5,503   5,292   4,561     5,265   5,299   5,093   4,785    4,478
23
24 4,674   4,100   3,563     3,100   2,532   2,532   2,122    1,868
25
26 5,915   4,871   4,578     5,529   4,912   4,450   3,736    3,469
27 5,618   4,715   3,800     3,984   3,900   3,280   3,282    3,170
28 3,603   2,810   3,042     3,324   3,152   3,257   3,180    2,937
29 4,327   4,207   3,653     3,593   3,043   2,612   2,410    2,145
30
31 4,640   4,286   3,810     4,271   3,818   3,969   3,593    3,358
32 3,250   3,257   2,815     2,977   2,800   2,638   2,625    2,698
33 4,217   3,857   4,061     3,953   4,060   3,298   2,667    2,361
34 3,230   3,023   2,750     2,112   1,850   1,730   1,929    1,819
35
36 3,519   3,400   3,100     3,200   3,300   3,000   2,700    2,717
37 4,010   3,830   3,091     3,326   3,068   2,964   2,836    2,426
38 1,198   665     434       1,373   N/A     N/A     N/A
39 2,945   2,825   2,356     2,616   2,604   2,160   1,902    1,662
40
41 3,590
42 2,985   2,716   2,252     2,675   2,533   2,208   2,240    1,883
43
44
45
46 1,600   2,802   1,856[42] 2,262   N/A     1,947   2,150
47
48
49 4,272   3,646   3,300     3,202   2,127   2,127   1,522    869
50
   lon          lat
1   121.4737021  31.230390
2            NA         NA
3            NA         NA
4   121.9878356  29.901952
5   129.0756416  35.179554
6            NA         NA
7            NA         NA
8   120.3826090  36.067108
9            NA         NA
10  117.3616476  39.343357
11  101.3928300   2.999852
12    4.4777326  51.924420
13  120.3014353  22.627278
14           NA         NA
15  121.6146820  38.914003
16           NA         NA
17           NA         NA
18           NA         NA
19  103.5510350   1.362374
20  100.9158073  13.104055
21 -118.1937395  33.770050
22           NA         NA
23  122.1082310  40.266062
24  106.6296638  10.823099
25   79.8612430   6.927079
26           NA         NA
27           NA         NA
28           NA         NA
29   -0.3762881  39.469910
30  119.2216110  34.596653
31  139.6917064  35.689487
32           NA         NA
33   86.1737454  20.576092
34   56.3432629  25.336567
35  121.1305500  31.457735
36    1.3512550  51.961726
37   39.2375507  21.285407
38   23.6469832  37.942986
39  -81.0998342  32.083541
40  113.7517990  23.020673
41 -122.3088165  47.450250
42  -46.3288865 -23.967882
43           NA         NA
44           NA         NA
45           NA         NA
46           NA         NA
47   14.5393097  35.841170
48           NA         NA
49           NA         NA
50  119.5269250  35.416734