In [1]:
sort(airquality$Wind)[1:10]

 [1] 1.7 2.3 2.8 3.4 4.0 4.1 4.6 4.6 4.6 4.6

In [3]:
# sorting DataFrames
sortedByWind <- airquality[order(airquality$Wind), ]
head(sortedByWind, 10)

    Ozone Solar.R Wind Temp Month Day
53   NA    59     1.7  76   6     22
121 118   225     2.3  94   8     29
126  73   183     2.8  93   9      3
117 168   238     3.4  81   8     25
99  122   255     4.0  89   8      7
62  135   269     4.1  84   7      1
54   NA    91     4.6  76   6     23
66   64   175     4.6  83   7      5
98   66    NA     4.6  87   8      6
127  91   189     4.6  93   9      4

In [4]:
# merging data
library("mangoTraining")

In [5]:
head(demoData, 3)

  Subject Sex Age Weight Height BMI  Smokes
1 1       M   43  57     166    20.7 No
2 2       M   22  71     179    22.2 No
3 3       F   23  72     170    25.1 No

In [6]:
head(pkData, 3)

  Subject Dose Time Conc
1 1       25   0      0.00
2 1       25   1    660.13
3 1       25   6    178.92

In [7]:
# merging by subject
fullpk <- merge(x=demoData, y=pkData, by="Subject")

In [8]:
head(fullpk)

  Subject Sex Age Weight Height BMI  Smokes Dose Time Conc
1 1       M   43  57     166    20.7 No     25    0     0.00
2 1       M   43  57     166    20.7 No     25    1   660.13
3 1       M   43  57     166    20.7 No     25    6   178.92
4 1       M   43  57     166    20.7 No     25   12    88.99
5 1       M   43  57     166    20.7 No     25   24    42.71
6 2       M   22  71     179    22.2 No     25    0     0.00

In [9]:
# merging with missing data
demoland2 <- demoData[demoData$Subject %in% 1:2, ]
pk2and3 <- pkData[pkData$Subject %in% 2:3, ]

In [10]:
demoland2

  Subject Sex Age Weight Height BMI  Smokes
1 1       M   43  57     166    20.7 No
2 2       M   22  71     179    22.2 No

In [11]:
pk2and3

   Subject Dose Time Conc
6  2       25    0     0.00
7  2       25    1   445.55
8  2       25    6   129.31
9  2       25   12    93.33
10 2       25   24    46.11
11 3       25    0     0.00
12 3       25    1   500.65
13 3       25    6   146.04
14 3       25   12   116.93
15 3       25   24    68.25

In [13]:
# default merge only merges what is in first dataset x
merge(demoland2, pk2and3)

  Subject Sex Age Weight Height BMI  Smokes Dose Time Conc
1 2       M   22  71     179    22.2 No     25    0     0.00
2 2       M   22  71     179    22.2 No     25    6   129.31
3 2       M   22  71     179    22.2 No     25   12    93.33
4 2       M   22  71     179    22.2 No     25   24    46.11
5 2       M   22  71     179    22.2 No     25    1   445.55

In [14]:
merge(demoland2, pk2and3, all=TRUE)

   Subject Sex Age Weight Height BMI  Smokes Dose Time Conc
1  1       M   43  57     166    20.7 No     NA   NA       NA
2  2       M   22  71     179    22.2 No     25    0     0.00
3  2       M   22  71     179    22.2 No     25    6   129.31
4  2       M   22  71     179    22.2 No     25   12    93.33
5  2       M   22  71     179    22.2 No     25   24    46.11
6  2       M   22  71     179    22.2 No     25    1   445.55
7  3       NA  NA  NA      NA      NA NA     25   12   116.93
8  3       NA  NA  NA      NA      NA NA     25    0     0.00
9  3       NA  NA  NA      NA      NA NA     25    1   500.65
10 3       NA  NA  NA      NA      NA NA     25    6   146.04
11 3       NA  NA  NA      NA      NA NA     25   24    68.25

In [19]:
# Duplicates
isMonthDuplicate <- duplicated(airquality$Month)
isMonthDuplicate

  [1] FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [13]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [25]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE
 [37]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [49]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [61]  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [73]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [85]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE
 [97]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[109]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[121]  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[133]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[145]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [23]:
# List of duplicates by month
airquality[isMonthDuplicate, ]

    Ozone Solar.R Wind Temp Month Day
2    36   118      8.0 72   5      2
3    12   149     12.6 74   5      3
4    18   313     11.5 62   5      4
5    NA    NA     14.3 56   5      5
6    28    NA     14.9 66   5      6
7    23   299      8.6 65   5      7
8    19    99     13.8 59   5      8
9     8    19     20.1 61   5      9
10   NA   194      8.6 69   5     10
11    7    NA      6.9 74   5     11
12   16   256      9.7 69   5     12
13   11   290      9.2 66   5     13
14   14   274     10.9 68   5     14
15   18    65     13.2 58   5     15
16   14   334     11.5 64   5     16
17   34   307     12.0 66   5     17
18    6    78     18.4 57   5     18
19   30   322     11.5 68   5     19
20   11    44      9.7 62   5     20
21    1     8      9.7 59   5     21
22   11   320     16.6 73   5     22
23    4    25      9.7 61   5     23
24   32    92     12.0 61   5     24
25   NA    66     16.6 57   5     25
26   NA   266     14.9 58   5     26
27   NA    NA      8.0 57   5     27
28   23    13     12.0 67   5     28
29   45   252     14.9 81   5     29
30  115   223      5.7 79   5     30
31   37   279      7.4 76   5     31
... ...   ...     ...  ...  ...   ...
123 85    188      6.3 94   8     31
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
150 NA    145     13.2 77   9     27
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [15]:
# Duplicates
duplicateData <- data.frame(ID=c(1,2,2,3,4), Score=c(57,45,45,63,54))
duplicateData

  ID Score
1 1  57
2 2  45
3 2  45
4 3  63
5 4  54

In [17]:
# removing duplicates
duplicateData[!duplicated(duplicateData), ]

  ID Score
1 1  57
2 2  45
4 3  63
5 4  54

In [24]:
# melting
library(reshape)
head(french_fries, 3)

   time treatment subject rep potato buttery grassy rancid painty
61 1    1         3       1    2.9   0.0     0      0.0    5.5
25 1    1         3       2   14.0   0.0     0      1.1    0.0
62 1    1         10      1   11.0   6.4     0      0.0    0.0

In [25]:
# melt having identified our ID variables
fryMelt <- melt(french_fries, id.vars=c("time","treatment","subject", "rep"))
head(fryMelt, 5)

  time treatment subject rep variable value
1 1    1         3       1   potato    2.9
2 1    1         3       2   potato   14.0
3 1    1         10      1   potato   11.0
4 1    1         10      2   potato    9.9
5 1    1         15      1   potato    1.2

In [27]:
#creating a new column based on rep value
fryRecast <- cast(fryMelt, ... ~ rep)
head(fryRecast)

  time treatment subject variable 1    2
1 1    1         3       potato    2.9 14.0
2 1    1         3       buttery   0.0  0.0
3 1    1         3       grassy    0.0  0.0
4 1    1         3       rancid    0.0  1.1
5 1    1         3       painty    5.5  0.0
6 1    1         10      potato   11.0  9.9

In [28]:
library(reshape2)
replicateMeans <- cast(fryMelt, time + treatment + subject + variable ~ ., mean)
head(replicateMeans)

Attaching package: 'reshape2'

The following objects are masked from 'package:reshape':

    colsplit, melt, recast

  time treatment subject variable (all)
1 1    1         3       potato    8.45
2 1    1         3       buttery   0.00
3 1    1         3       grassy    0.00
4 1    1         3       rancid    0.55
5 1    1         3       painty    2.75
6 1    1         10      potato   10.45

In [36]:
# gather function # we load the dowJonesData
library(tidyr)
djiHighLow <- dowJonesData[, c('Date','DJI.High', 'DJI.Low')]
head(djiHighLow, 3)

Attaching package: 'tidyr'

The following object is masked from 'package:reshape2':

    smiths

The following objects are masked from 'package:reshape':

    expand, smiths

  Date       DJI.High DJI.Low
1 12/31/2014 18043.22 17820.88
2 12/30/2014 18035.02 17959.70
3 12/29/2014 18073.04 18021.57

In [37]:
# we want to create a single graphic of the high and low values
gatheredDJI <- gather(djiHighLow, key="DJI", value="Value", DJI.High, DJI.Low)
head(gatheredDJI)

  Date       DJI      Value
1 12/31/2014 DJI.High 18043.22
2 12/30/2014 DJI.High 18035.02
3 12/29/2014 DJI.High 18073.04
4 12/26/2014 DJI.High 18103.45
5 12/24/2014 DJI.High 18086.24
6 12/23/2014 DJI.High 18069.22

In [38]:
# Spread back to original
backToOriginal <- spread(gatheredDJI, key=DJI, value=Value)
head(backToOriginal)

  Date       DJI.High DJI.Low
1 01/02/2014 16573.07 16416.49
2 01/03/2014 16518.74 16439.30
3 01/06/2014 16532.99 16405.52
4 01/07/2014 16562.32 16429.02
5 01/08/2014 16528.88 16416.69
6 01/09/2014 16525.35 16378.61

In [39]:
# separating into two variables
Packages <- data.frame(Source = c("reshape_0.8.5", "tidyr_0.2.3"))
Packages

  Source
1 reshape_0.8.5
2 tidyr_0.2.3

In [41]:
separate(Packages, Source, into = c("Packages", "Version"), sep = "_", remove=FALSE)

  Source        Packages Version
1 reshape_0.8.5 reshape  0.8.5
2 tidyr_0.2.3   tidyr    0.2.3

# Data Aggregation

### we want to add a new column to airquality dataset containing difference between wind speed and median wind speed for month

In [43]:
print(head(airquality))

  Ozone Solar.R Wind Temp Month Day
1    41     190  7.4   67     5   1
2    36     118  8.0   72     5   2
3    12     149 12.6   74     5   3
4    18     313 11.5   62     5   4
5    NA      NA 14.3   56     5   5
6    28      NA 14.9   66     5   6

In [44]:
windMedians <- tapply(airquality$Wind, airquality$Month, median)
print(windMedians)

   5    6    7    8    9
11.5  9.7  8.6  8.6 10.3

In [46]:
charMonths <- as.character(airquality$Month) # converted character values of month
# use character values to reference named elements
print(head(windMedians[charMonths]))

   5    5    5    5    5    5
11.5 11.5 11.5 11.5 11.5 11.5

In [47]:
# add median wind column
airquality$MedianWind <-windMedians[charMonths]  
# calculate difference
airquality$DiffWind <- airquality$Wind - airquality$MedianWind

print(head(airquality, 3))

  Ozone Solar.R Wind Temp Month Day MedianWind DiffWind
1    41     190  7.4   67     5   1       11.5     -4.1
2    36     118  8.0   72     5   2       11.5     -3.5
3    12     149 12.6   74     5   3       11.5      1.1

## Using Aggregate with a fornula

In [49]:
# calculate median wind by Month
print(aggregate(Wind ~ Month, data=airquality, FUN=median))

  Month Wind
1     5 11.5
2     6  9.7
3     7  8.6
4     8  8.6
5     9 10.3

In [50]:
# summarizing by multiple variables
aggregate(Wind ~ Month + cut(Temp, 2), data=airquality, FUN=median)

   Month cut(Temp, 2) Wind
1  5     (56,76.5]    11.5
2  6     (56,76.5]     9.7
3  7     (56,76.5]    10.6
4  8     (56,76.5]    12.6
5  9     (56,76.5]    10.9
6  5     (76.5,97]    10.3
7  6     (76.5,97]     9.7
8  7     (76.5,97]     8.6
9  8     (76.5,97]     8.3
10 9     (76.5,97]     7.7

## Summarizing multiple columns

In [51]:
# calculate median wind and Ozone by month
aggregate(cbind(Wind, Ozone) ~ Month, data=airquality, FUN=median, na.rm=TRUE)

  Month Wind Ozone
1 5     11.5 18
2 6     11.5 23
3 7      7.7 60
4 8      8.0 52
5 9     10.3 23

## Returning Multiple values

In [52]:
aggregate(cbind(Wind, Ozone) ~ Month, data=airquality, FUN=median)

  Month Wind Ozone
1 5     11.5 18
2 6     11.5 23
3 7      7.7 60
4 8      8.0 52
5 9     10.3 23

In [53]:
print(aggregate(cbind(Wind, Ozone) ~ Month, data=airquality, FUN=range))

  Month Wind.1 Wind.2 Ozone.1 Ozone.2
1     5    5.7   20.1       1     115
2     6    8.0   20.7      12      71
3     7    4.1   14.9       7     135
4     8    2.3   15.5       9     168
5     9    2.8   16.6       7      96