In [1]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
# Download data from the web
library(downloader)
url <- "https://raw.githubusercontent.com/genomicsclass/dagdata/master/inst/extdata/msleep_ggplot2.csv"
filename <- "msleep_ggplot2.csv"
if (!file.exists(filename)) download(url,filename)
msleep <- read.csv("msleep_ggplot2.csv")
head(msleep)

  name                       genus      vore  order        conservation
1 Cheetah                    Acinonyx   carni Carnivora    lc
2 Owl monkey                 Aotus      omni  Primates     NA
3 Mountain beaver            Aplodontia herbi Rodentia     nt
4 Greater short-tailed shrew Blarina    omni  Soricomorpha lc
5 Cow                        Bos        herbi Artiodactyla domesticated
6 Three-toed sloth           Bradypus   herbi Pilosa       NA
  sleep_total sleep_rem sleep_cycle awake brainwt bodywt
1 12.1         NA              NA   11.9       NA  50.000
2 17.0        1.8              NA    7.0  0.01550   0.480
3 14.4        2.4              NA    9.6       NA   1.350
4 14.9        2.3       0.1333333    9.1  0.00029   0.019
5  4.0        0.7       0.6666667   20.0  0.42300 600.000
6 14.4        2.2       0.7666667    9.6       NA   3.850

In [3]:
# Selecting a set of columns
# select(dataframe, column_name1, columnname2)
sleepData <- select(msleep, name, sleep_total)
head(sleepData)

  name                       sleep_total
1 Cheetah                    12.1
2 Owl monkey                 17.0
3 Mountain beaver            14.4
4 Greater short-tailed shrew 14.9
5 Cow                         4.0
6 Three-toed sloth           14.4

In [4]:
# Select all columns except the sleep column
head(select(msleep, -name))

  genus      vore  order        conservation sleep_total sleep_rem sleep_cycle
1 Acinonyx   carni Carnivora    lc           12.1         NA              NA
2 Aotus      omni  Primates     NA           17.0        1.8              NA
3 Aplodontia herbi Rodentia     nt           14.4        2.4              NA
4 Blarina    omni  Soricomorpha lc           14.9        2.3       0.1333333
5 Bos        herbi Artiodactyla domesticated  4.0        0.7       0.6666667
6 Bradypus   herbi Pilosa       NA           14.4        2.2       0.7666667
  awake brainwt bodywt
1 11.9       NA  50.000
2  7.0  0.01550   0.480
3  9.6       NA   1.350
4  9.1  0.00029   0.019
5 20.0  0.42300 600.000
6  9.6       NA   3.850

In [5]:
# To select a range of columns by name, use the “:” (colon) operator
head(select(msleep, name:order))

  name                       genus      vore  order
1 Cheetah                    Acinonyx   carni Carnivora
2 Owl monkey                 Aotus      omni  Primates
3 Mountain beaver            Aplodontia herbi Rodentia
4 Greater short-tailed shrew Blarina    omni  Soricomorpha
5 Cow                        Bos        herbi Artiodactyla
6 Three-toed sloth           Bradypus   herbi Pilosa

In [6]:
# To select all columns that start with the character string “sl”, use the function starts_with()
head(select(msleep, starts_with("sl")))

  sleep_total sleep_rem sleep_cycle
1 12.1         NA              NA
2 17.0        1.8              NA
3 14.4        2.4              NA
4 14.9        2.3       0.1333333
5  4.0        0.7       0.6666667
6 14.4        2.2       0.7666667

## Selecting rows using filter()

In [7]:
filter(msleep, sleep_total >= 16)

  name                   genus        vore    order           conservation
1 Owl monkey             Aotus        omni    Primates        NA
2 Long-nosed armadillo   Dasypus      carni   Cingulata       lc
3 North American Opossum Didelphis    omni    Didelphimorphia lc
4 Big brown bat          Eptesicus    insecti Chiroptera      lc
5 Thick-tailed opposum   Lutreolina   carni   Didelphimorphia lc
6 Little brown bat       Myotis       insecti Chiroptera      NA
7 Giant armadillo        Priodontes   insecti Cingulata       en
8 Arctic ground squirrel Spermophilus herbi   Rodentia        lc
  sleep_total sleep_rem sleep_cycle awake brainwt bodywt
1 17.0        1.8              NA   7.0   0.01550  0.480
2 17.4        3.1       0.3833333   6.6   0.01080  3.500
3 18.0        4.9       0.3333333   6.0   0.00630  1.700
4 19.7        3.9       0.1166667   4.3   0.00030  0.023
5 19.4        6.6              NA   4.6        NA  0.370
6 19.9        2.0       0.2000000   4.1   0.00025  0.010
7 18.1        6.1              NA   5.9   0.08100 60.000
8 16.6         NA              NA   7.4   0.00570  0.920

In [8]:
# sleep total >=16 and body weight >=1
filter(msleep, sleep_total >= 16, bodywt >= 1)

  name                   genus      vore    order           conservation
1 Long-nosed armadillo   Dasypus    carni   Cingulata       lc
2 North American Opossum Didelphis  omni    Didelphimorphia lc
3 Giant armadillo        Priodontes insecti Cingulata       en
  sleep_total sleep_rem sleep_cycle awake brainwt bodywt
1 17.4        3.1       0.3833333   6.6   0.0108   3.5
2 18.0        4.9       0.3333333   6.0   0.0063   1.7
3 18.1        6.1              NA   5.9   0.0810  60.0

In [9]:
# Filter the rows for mammals in the Perissodactyla and Primates taxonomic order
filter(msleep, order %in% c("Perissodatctyla", "Primates"))

   name            genus         vore  order    conservation sleep_total
1  Owl monkey      Aotus         omni  Primates NA           17.0
2  Grivet          Cercopithecus omni  Primates lc           10.0
3  Patas monkey    Erythrocebus  omni  Primates lc           10.9
4  Galago          Galago        omni  Primates NA            9.8
5  Human           Homo          omni  Primates NA            8.0
6  Mongoose lemur  Lemur         herbi Primates vu            9.5
7  Macaque         Macaca        omni  Primates NA           10.1
8  Slow loris      Nyctibeus     carni Primates NA           11.0
9  Chimpanzee      Pan           omni  Primates NA            9.7
10 Baboon          Papio         omni  Primates NA            9.4
11 Potto           Perodicticus  omni  Primates lc           11.0
12 Squirrel monkey Saimiri       omni  Primates NA            9.6
   sleep_rem sleep_cycle awake brainwt bodywt
1  1.8              NA    7.0  0.0155   0.480
2  0.7              NA   14.0      NA   4.750
3  1.1              NA   13.1  0.1150  10.000
4  1.1       0.5500000   14.2  0.0050   0.200
5  1.9       1.5000000   16.0  1.3200  62.000
6  0.9              NA   14.5      NA   1.670
7  1.2       0.7500000   13.9  0.1790   6.800
8   NA              NA   13.0  0.0125   1.400
9  1.4       1.4166667   14.3  0.4400  52.200
10 1.0       0.6666667   14.6  0.1800  25.235
11  NA              NA   13.0      NA   1.100
12 1.4              NA   14.4  0.0200   0.743

## Pipe Oprator %>%

This operator allows you to pipe the output from one function to the input of another function. Instead of nesting functions (reading from the inside to the outside), the idea of of piping is to read the functions from left to right.

Here’s an example you have seen:

In [10]:
head(select(msleep, name, sleep_total))

  name                       sleep_total
1 Cheetah                    12.1
2 Owl monkey                 17.0
3 Mountain beaver            14.4
4 Greater short-tailed shrew 14.9
5 Cow                         4.0
6 Three-toed sloth           14.4

In [11]:
msleep %>% select(name, sleep_total) %>% head

  name                       sleep_total
1 Cheetah                    12.1
2 Owl monkey                 17.0
3 Mountain beaver            14.4
4 Greater short-tailed shrew 14.9
5 Cow                         4.0
6 Three-toed sloth           14.4

## Back to dplyr verbs in action

Now that you know about the pipe operator (%>%), we will use it throughout the rest of this tutorial.

## Arrange or re-order rows using arrange()

To arrange (or re-order) rows by a particular column such as the taxonomic order, list the name of the column you want to arrange the rows by

In [12]:
msleep %>% arrange(order) %>% head

  name     genus     vore  order        conservation sleep_total sleep_rem
1 Tenrec   Tenrec    omni  Afrosoricida NA           15.6        2.3
2 Cow      Bos       herbi Artiodactyla domesticated  4.0        0.7
3 Roe deer Capreolus herbi Artiodactyla lc            3.0         NA
4 Goat     Capri     herbi Artiodactyla lc            5.3        0.6
5 Giraffe  Giraffa   herbi Artiodactyla cd            1.9        0.4
6 Sheep    Ovis      herbi Artiodactyla domesticated  3.8        0.6
  sleep_cycle awake brainwt bodywt
1        NA    8.4  0.0026    0.900
2 0.6666667   20.0  0.4230  600.000
3        NA   21.0  0.0982   14.800
4        NA   18.7  0.1150   33.500
5        NA   22.1      NA  899.995
6        NA   20.2  0.1750   55.500

Now, we will select three columns from msleep, arrange the rows by the taxonomic order and then arrange the rows by sleep_total. Finally show the head of the final data frame

In [13]:
msleep %>% select(name, order, sleep_total) %>% arrange(order, sleep_total) %>% head

  name     order        sleep_total
1 Tenrec   Afrosoricida 15.6
2 Giraffe  Artiodactyla  1.9
3 Roe deer Artiodactyla  3.0
4 Sheep    Artiodactyla  3.8
5 Cow      Artiodactyla  4.0
6 Goat     Artiodactyla  5.3

Same as above, except here we filter the rows for mammals that sleep for 16 or more hours instead of showing the head of the final data frame

In [14]:
msleep %>% select(name, order, sleep_total) %>% arrange(order, sleep_total) %>% filter(sleep_total >=16)

  name                   order           sleep_total
1 Big brown bat          Chiroptera      19.7
2 Little brown bat       Chiroptera      19.9
3 Long-nosed armadillo   Cingulata       17.4
4 Giant armadillo        Cingulata       18.1
5 North American Opossum Didelphimorphia 18.0
6 Thick-tailed opposum   Didelphimorphia 19.4
7 Owl monkey             Primates        17.0
8 Arctic ground squirrel Rodentia        16.6

Something slightly more complicated: same as above, except arrange the rows in the sleep_total column in a descending order. For this, use the function desc()

In [15]:
msleep %>% select(name, order, sleep_total) %>% arrange(order, desc(sleep_total)) %>% filter(sleep_total >=16)

  name                   order           sleep_total
1 Little brown bat       Chiroptera      19.9
2 Big brown bat          Chiroptera      19.7
3 Giant armadillo        Cingulata       18.1
4 Long-nosed armadillo   Cingulata       17.4
5 Thick-tailed opposum   Didelphimorphia 19.4
6 North American Opossum Didelphimorphia 18.0
7 Owl monkey             Primates        17.0
8 Arctic ground squirrel Rodentia        16.6

# Create new columns using mutate()

The mutate() function will add new columns to the data frame. Create a new column called rem_proportion which is the ratio of rem sleep to total amount of sleep.

In [16]:
msleep %>% mutate(rem_proportion = sleep_rem/sleep_total) %>% head

  name                       genus      vore  order        conservation
1 Cheetah                    Acinonyx   carni Carnivora    lc
2 Owl monkey                 Aotus      omni  Primates     NA
3 Mountain beaver            Aplodontia herbi Rodentia     nt
4 Greater short-tailed shrew Blarina    omni  Soricomorpha lc
5 Cow                        Bos        herbi Artiodactyla domesticated
6 Three-toed sloth           Bradypus   herbi Pilosa       NA
  sleep_total sleep_rem sleep_cycle awake brainwt bodywt  rem_proportion
1 12.1         NA              NA   11.9       NA  50.000        NA
2 17.0        1.8              NA    7.0  0.01550   0.480 0.1058824
3 14.4        2.4              NA    9.6       NA   1.350 0.1666667
4 14.9        2.3       0.1333333    9.1  0.00029   0.019 0.1543624
5  4.0        0.7       0.6666667   20.0  0.42300 600.000 0.1750000
6 14.4        2.2       0.7666667    9.6       NA   3.850 0.1527778

You can many new columns using mutate (separated by commas). Here we add a second column called bodywt_grams which is the bodywt column in grams.

In [17]:
msleep %>% mutate(rem_proportion = sleep_rem/sleep_total, bodywt_grams = bodywt*1000) %>% head

  name                       genus      vore  order        conservation
1 Cheetah                    Acinonyx   carni Carnivora    lc
2 Owl monkey                 Aotus      omni  Primates     NA
3 Mountain beaver            Aplodontia herbi Rodentia     nt
4 Greater short-tailed shrew Blarina    omni  Soricomorpha lc
5 Cow                        Bos        herbi Artiodactyla domesticated
6 Three-toed sloth           Bradypus   herbi Pilosa       NA
  sleep_total sleep_rem sleep_cycle awake brainwt bodywt  rem_proportion
1 12.1         NA              NA   11.9       NA  50.000        NA
2 17.0        1.8              NA    7.0  0.01550   0.480 0.1058824
3 14.4        2.4              NA    9.6       NA   1.350 0.1666667
4 14.9        2.3       0.1333333    9.1  0.00029   0.019 0.1543624
5  4.0        0.7       0.6666667   20.0  0.42300 600.000 0.1750000
6 14.4        2.2       0.7666667    9.6       NA   3.850 0.1527778
  bodywt_grams
1  50000
2    480
3   1350
4     19
5 600000
6   3850

# Create summaries of the data frame using summarise()

The summarise() function will create summary statistics for a given column in the data frame such as finding the mean. For example, to compute the average number of hours of sleep, apply the mean() function to the column sleep_total and call the summary value avg_sleep.

In [18]:
print(msleep %>% summarize(avg_sleep = mean(sleep_total)))

  avg_sleep
1  10.43373

In [19]:
msleep %>% summarize(avg_sleep = mean(sleep_total), min_sleep=min(sleep_total), max_sleep=max(sleep_total), total =n())

  avg_sleep min_sleep max_sleep total
1 10.43373  1.9       19.9      83

## Group operations using group_by()

In [20]:
msleep %>% group_by(order) %>% summarize(avg_sleep = mean(sleep_total),
                                       min_sleep = min(sleep_total),
                                       max_sleep = max(sleep_total),
                                       total = n())

   order           avg_sleep min_sleep max_sleep total
1  Afrosoricida    15.600000 15.6      15.6       1
2  Artiodactyla     4.516667  1.9       9.1       6
3  Carnivora       10.116667  3.5      15.8      12
4  Cetacea          4.500000  2.7       5.6       3
5  Chiroptera      19.800000 19.7      19.9       2
6  Cingulata       17.750000 17.4      18.1       2
7  Didelphimorphia 18.700000 18.0      19.4       2
8  Diprotodontia   12.400000 11.1      13.7       2
9  Erinaceomorpha  10.200000 10.1      10.3       2
10 Hyracoidea       5.666667  5.3       6.3       3
11 Lagomorpha       8.400000  8.4       8.4       1
12 Monotremata      8.600000  8.6       8.6       1
13 Perissodactyla   3.466667  2.9       4.4       3
14 Pilosa          14.400000 14.4      14.4       1
15 Primates        10.500000  8.0      17.0      12
16 Proboscidea      3.600000  3.3       3.9       2
17 Rodentia        12.468182  7.0      16.6      22
18 Scandentia       8.900000  8.9       8.9       1
19 Soricomorpha    11.100000  8.4      14.9       5

## Renaming Columns

In [21]:
library(nycflights13)
flights <- tbl_df(flights)
head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [22]:
## renaming columns
# rename(flights, tailnum = tail_num)
# head(flights)

## Distinct

A common use of select() is to find out which values a set of variables takes.

This is particularly useful in conjunction with the distinct() verb which only returns the unique values in a table.

In [23]:
distinct(select(flights, tailnum))

     tailnum
1    N14228
2    N24211
3    N619AA
4    N804JB
5    N668DN
6    N39463
7    N516JB
8    N829AS
9    N593JB
10   N3ALAA
11   N793JB
12   N657JB
13   N29129
14   N53441
15   N3DUAA
16   N708JB
17   N76515
18   N595JB
19   N542MQ
20   N644JB
21   N971DL
22   N730MQ
23   N633AA
24   N3739P
25   N53442
26   N9EAMQ
27   N532UA
28   N635JB
29   N794JB
30   N326NB
...  ...
4015 N152DL
4016 N790SK
4017 N843MH
4018 N797SK
4019 N762SK
4020 N933DN
4021 N768SK
4022 N795SK
4023 N780SK
4024 N143DA
4025 N740SK
4026 N726SK
4027 N705SK
4028 N728SK
4029 N824AS
4030 N702SK
4031 N560AS
4032 N778SK
4033 N922EV
4034 N710SK
4035 N647MQ
4036 N794SK
4037 N636WN
4038 N701SK
4039 N760SK
4040 N766SK
4041 N772SK
4042 N776SK
4043 N785SK
4044 N557AS

In [24]:
distinct(select(flights, origin, dest))

    origin dest
1   EWR    IAH
2   LGA    IAH
3   JFK    MIA
4   JFK    BQN
5   LGA    ATL
6   EWR    ORD
7   EWR    FLL
8   LGA    IAD
9   JFK    MCO
10  LGA    ORD
11  JFK    PBI
12  JFK    TPA
13  JFK    LAX
14  EWR    SFO
15  LGA    DFW
16  JFK    BOS
17  EWR    LAS
18  LGA    FLL
19  EWR    PBI
20  LGA    MSP
21  LGA    DTW
22  EWR    MIA
23  JFK    ATL
24  JFK    SFO
25  JFK    RSW
26  JFK    SJU
27  EWR    ATL
28  EWR    PHX
29  LGA    MIA
30  EWR    MSP
... ...    ...
195 JFK    ACK
196 LGA    BGR
197 LGA    MSN
198 LGA    ORF
199 JFK    IAH
200 JFK    MCI
201 LGA    OMA
202 LGA    DSM
203 LGA    GSP
204 JFK    ABQ
205 LGA    ILM
206 LGA    SYR
207 JFK    MVY
208 LGA    SBN
209 JFK    STL
210 LGA    LEX
211 EWR    SBN
212 LGA    MHT
213 LGA    CAE
214 JFK    JAC
215 JFK    SDF
216 LGA    CHO
217 JFK    MKE
218 LGA    AVL
219 JFK    BHM
220 LGA    TVC
221 LGA    MYR
222 EWR    TVC
223 EWR    ANC
224 EWR    LGA

## Randomly sample rows

You can use either sample_n() to sample a fixed number or sample_frac() to sample a fixed fraction.

In [25]:
sample_n(flights, 10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 10    17  1727     1710           17        1900     1829
2  2013 12     4   625      630           -5         920      830
3  2013 10    16  1258     1300           -2        1558     1610
4  2013 12    14   801      800            1        1033     1029
5  2013  7    17   702      705           -3         759      820
6  2013  5    27   724      730           -6        1057     1128
7  2013  7    31   459      500           -1         633      640
8  2013 10    24  1750     1730           20        1859     1847
9  2013 10    21   637      640           -3         911      907
10 2013  8     7  1023     1025           -2        1251     1308
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   31       EV      4113   N16961  EWR    RIC   59       277     17   10
2   50       MQ      3599   N520MQ  LGA    MSP  202      1020      6   30
3  -12       VX       411   N626VA  JFK    LAX  335      2475     13    0
4    4       UA       561   N567UA  LGA    DEN  225      1620      8    0
5  -21       EV      4522   N16183  EWR    BNA   99       748      7    5
6  -31       B6       215   N612JB  EWR    SJU  191      1608      7   30
7   -7       US      1431   N563UW  EWR    CLT   75       529      5    0
8   12       B6      1516   N328JB  JFK    SYR   46       209     17   30
9    4       B6       211   N652JB  JFK    LAS  308      2248      6   40
10 -17       B6       925   N569JB  JFK    TPA  132      1005     10   25
   time_hour
1  2013-10-17 17:00:00
2  2013-12-04 06:00:00
3  2013-10-16 13:00:00
4  2013-12-14 08:00:00
5  2013-07-17 07:00:00
6  2013-05-27 07:00:00
7  2013-07-31 05:00:00
8  2013-10-24 17:00:00
9  2013-10-21 06:00:00
10 2013-08-07 10:00:00

In [26]:
sample_frac(flights, 0.01)

     year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1    2013 12    21  1401     1317           44        1641     1613
2    2013  9     4  1254     1300           -6        1359     1409
3    2013  9    17  1015     1020           -5        1250     1310
4    2013  8    22   732      735           -3        1057     1005
5    2013  6    12  1457     1500           -3        1627     1652
6    2013  8    18  1906     1855           11        2234     2225
7    2013 12    15  1515     1520           -5        1837     1848
8    2013 12     2   602      600            2         722      735
9    2013  1    19  1023     1020            3        1320     1330
10   2013 10     3  1616     1620           -4        1727     1755
11   2013  6     5  1357     1355            2        1642     1643
12   2013 12     6   635      640           -5         822      805
13   2013  4    19  1707     1708           -1        1931     1932
14   2013  4    23  1905     1755           70        2041     1930
15   2013  3     2  1412     1415           -3        1636     1630
16   2013  1     3  1915     1830           45        2212     2202
17   2013  8    22  1726     1724            2        1949     2015
18   2013  2     8  1316     1251           25        1703     1602
19   2013  3     4  1135     1135            0        1453     1447
20   2013  5    23  1414     1359           15        1718     1630
21   2013  6     4  1811     1805            6        2111     2128
22   2013  9    12  1034     1029            5        1237     1239
23   2013 12    12   736      740           -4         939      942
24   2013  1    24  1635     1635            0        1815     1816
25   2013  8    12  1246     1250           -4        1414     1425
26   2013  4    30  2110     2110            0        2226     2242
27   2013  7     7  1803     1720           43        2202     2025
28   2013 12    22   848      850           -2        1026     1035
29   2013  7     4   924      930           -6        1026     1039
30   2013  2    18  1532     1530            2        1859     1855
...  ...  ...   ... ...      ...            ...       ...      ...
3339 2013  3    14   533      530             3        801      824
3340 2013 10     2  1822     1829            -7       2015     2031
3341 2013  8    12  1655     1700            -5       2041     2018
3342 2013  3    29  1239     1240            -1       1532     1555
3343 2013  7    30   811      815            -4       1034     1110
3344 2013  5     6   854      900            -6       1131     1120
3345 2013  3     7   836      830             6       1151     1142
3346 2013  6    18   901      800            61       1121     1016
3347 2013  3    10  2132     2112            20         14       14
3348 2013 10    24  1026     1029            -3       1255     1249
3349 2013  6    20   610      620           -10        810      822
3350 2013  6     4   854      855            -1       1049     1100
3351 2013  3     9   559      600            -1        832      856
3352 2013  6    26  1448     1455            -7       1617     1645
3353 2013  5     5  1446     1448            -2       1554     1602
3354 2013  9    21  2029     2022             7       2255     2246
3355 2013  6     7  1229     1238            -9       1425     1428
3356 2013 12    23  2011     2000            11       2320     2325
3357 2013  8     5  1549     1559           -10       1726     1730
3358 2013  9    13  2110     2100            10       2341       14
3359 2013 12     7  1013     1015            -2       1412     1342
3360 2013  8    15  1106     1055            11       1525     1445
3361 2013 10    24  1828     1829            -1       1933     1939
3362 2013  7    26  1929     1920             9       2302     2238
3363 2013  9     9  1434     1439            -5       1537     1607
3364 2013  4     5  2054     2050             4       2153     2221
3365 2013 11    27  1351     1359            -8       1502     1508
3366 2013  1    29   922      924            -2       1113     1118
3367 2013  8     6  1914     1859            15       2158     2147
3368 2013  4    20  1341     1330            11       1658     1606
     arr_delay carrier flight tailnum origin dest air_time distance hour minute
1     28       UA      1641   N34455  EWR    MCO  139       937     13   17
2    -10       US      2148   N948UW  LGA    BOS   43       184     13    0
3    -20       B6       925   N633JB  JFK    TPA  135      1005     10   20
4     52       AA      1949   N3BRAA  JFK    LAS  294      2248      7   35
5    -25       US       802   N564UW  EWR    CLT   73       529     15    0
6      9       VX        29   N844VA  JFK    SFO  327      2586     18   55
7    -11       DL      1982   N314NB  LGA    MIA  168      1096     15   20
8    -13       UA       219   N514UA  LGA    ORD  117       733      6    0
9    -10       AA       731   N3ELAA  LGA    DFW  203      1389     10   20
10   -28       DL      2443   N315NB  JFK    BOS   41       187     16   20
11    -1       B6      1783   N564JB  JFK    MCO  136       944     13   55
12    17       WN      1121   N712SW  LGA    MKE  129       738      6   40
13    -1       UA       792   N516UA  EWR    LAS  301      2227     17    8
14    71       MQ      4601   N542MQ  LGA    RDU   66       431     17   55
15     6       DL       935   N368NB  EWR    ATL  108       746     14   15
16    10       UA       272   N505UA  JFK    SFO  333      2586     18   30
17   -26       UA      1109   N33132  EWR    MCO  120       937     17   24
18    61       UA       317   N453UA  LGA    IAH  201      1416     12   51
19     6       DL      1552   N336NB  LGA    RSW  152      1080     11   35
20    48       DL      2247   N660DL  LGA    ATL  107       762     13   59
21   -17       B6       217   N583JB  JFK    LGB  326      2465     18    5
22    -2       US       604   N668AW  EWR    PHX  275      2133     10   29
23    -3       EV      4297   N19554  EWR    DTW   92       488      7   40
24    -1       UA      1638   N68453  EWR    CLE   76       404     16   35
25   -11       MQ      3361   N807MQ  JFK    RDU   68       427     12   50
26   -16       EV      5212   N371CA  LGA    RIC   48       292     21   10
27    97       AA       695   N3CLAA  JFK    AUS  202      1521     17   20
28    -9       AA       313   N3KAAA  LGA    ORD  133       733      8   50
29   -13       B6       116   N184JB  JFK    SYR   43       209      9   30
30     4       AA      1039   N3JKAA  JFK    FLL  183      1069     15   30
...  ...       ...     ...    ...     ...    ...  ...      ...      ...  ...
3339 -23       UA       792   N576UA  LGA    IAH  188      1416      5   30
3340 -16       US      2094   N194UW  EWR    CLT   81       529     18   29
3341  23       DL      1163   N718TW  JFK    LAX  363      2475     17    0
3342 -23       AA      2041   N612AA  JFK    MIA  150      1089     12   40
3343 -36       DL      1167   N307DQ  JFK    TPA  126      1005      8   15
3344  11       EV      4940   N707EV  LGA    CHS   91       641      9    0
3345   9       UA       999   N564UA  EWR    SAN  333      2425      8   30
3346  65       DL      2457   N354NB  LGA    MSY  162      1183      8    0
3347   0       UA      1225   N39728  EWR    PBI  133      1023     21   12
3348   6       US       625   N550UW  JFK    PHX  306      2153     10   29
3349 -12       EV      4372   N14188  EWR    MSP  159      1008      6   20
3350 -11       DL      2179   N600TR  EWR    DTW   84       488      8   55
3351 -24       UA       543   N556UA  EWR    PBI  134      1023      6    0
3352 -28       MQ      3359   N807MQ  JFK    RDU   67       427     14   55
3353  -8       EV      3854   N15980  EWR    IAD   40       212     14   48
3354   9       B6       135   N606JB  JFK    PHX  281      2153     20   22
3355  -3       EV      5796   N14558  EWR    CLT   98       529     12   38
3356  -5       VX       415   N361VA  JFK    LAX  345      2475     20    0
3357  -4       B6      1734   N216JB  JFK    BTV   52       266     15   59
3358 -33       DL      2363   N198DN  JFK    LAX  304      2475     21    0
3359  30       US       604   N669AW  EWR    PHX  344      2133     10   15
3360  40       B6       403   N556JB  JFK    SJU  232      1598     10   55
3361  -6       MQ      3044   N631MQ  JFK    BWI   43       184     18   29
3362  24       UA       312   N825UA  EWR    PDX  351      2434     19   20
3363 -30       9E      3712   N8423C  JFK    BWI   39       184     14   39
3364 -28       B6      1020   N613JB  JFK    BOS   38       187     20   50
3365  -6       B6       118   N183JB  JFK    BOS   46       187     13   59
3366  -5       EV      4711   N13908  EWR    STL  145       872      9   24
3367  11       B6       711   N607JB  JFK    LAS  309      2248     18   59
3368  52       B6       127   N258JB  EWR    MCO  171       937     13   30
     time_hour
1    2013-12-21 13:00:00
2    2013-09-04 13:00:00
3    2013-09-17 10:00:00
4    2013-08-22 07:00:00
5    2013-06-12 15:00:00
6    2013-08-18 18:00:00
7    2013-12-15 15:00:00
8    2013-12-02 06:00:00
9    2013-01-19 10:00:00
10   2013-10-03 16:00:00
11   2013-06-05 13:00:00
12   2013-12-06 06:00:00
13   2013-04-19 17:00:00
14   2013-04-23 17:00:00
15   2013-03-02 14:00:00
16   2013-01-03 18:00:00
17   2013-08-22 17:00:00
18   2013-02-08 12:00:00
19   2013-03-04 11:00:00
20   2013-05-23 13:00:00
21   2013-06-04 18:00:00
22   2013-09-12 10:00:00
23   2013-12-12 07:00:00
24   2013-01-24 16:00:00
25   2013-08-12 12:00:00
26   2013-04-30 21:00:00
27   2013-07-07 17:00:00
28   2013-12-22 08:00:00
29   2013-07-04 09:00:00
30   2013-02-18 15:00:00
...  ...
3339 2013-03-14 05:00:00
3340 2013-10-02 18:00:00
3341 2013-08-12 17:00:00
3342 2013-03-29 12:00:00
3343 2013-07-30 08:00:00
3344 2013-05-06 09:00:00
3345 2013-03-07 08:00:00
3346 2013-06-18 08:00:00
3347 2013-03-10 21:00:00
3348 2013-10-24 10:00:00
3349 2013-06-20 06:00:00
3350 2013-06-04 08:00:00
3351 2013-03-09 06:00:00
3352 2013-06-26 14:00:00
3353 2013-05-05 14:00:00
3354 2013-09-21 20:00:00
3355 2013-06-07 12:00:00
3356 2013-12-23 20:00:00
3357 2013-08-05 15:00:00
3358 2013-09-13 21:00:00
3359 2013-12-07 10:00:00
3360 2013-08-15 10:00:00
3361 2013-10-24 18:00:00
3362 2013-07-26 19:00:00
3363 2013-09-09 14:00:00
3364 2013-04-05 20:00:00
3365 2013-11-27 13:00:00
3366 2013-01-29 09:00:00
3367 2013-08-06 18:00:00
3368 2013-04-20 13:00:00

## Multiple operations: step-by-step

In [29]:
a1 <- group_by(flights, year, month, day)
a2 <- select(a1, arr_delay, dep_delay)
a3 <- summarise(a2, arr = mean(arr_delay, na.rm=TRUE),
               dep = mean(dep_delay, na.rm=TRUE))
a4 <- filter(a3, arr>30 | dep>30)
a4

Adding missing grouping variables: `year`, `month`, `day`

   year month day arr      dep
1  2013  1    16  34.24736 24.61287
2  2013  1    31  32.60285 28.65836
3  2013  2    11  36.29009 39.07360
4  2013  2    27  31.25249 37.76327
5  2013  3     8  85.86216 83.53692
6  2013  3    18  41.29189 30.11796
7  2013  4    10  38.41231 33.02368
8  2013  4    12  36.04814 34.83843
9  2013  4    18  36.02848 34.91536
10 2013  4    19  47.91170 46.12783
11 2013  4    22  37.81217 30.64255
12 2013  4    25  33.68125 23.33956
13 2013  5     8  39.60918 43.21778
14 2013  5    23  61.97090 51.14472
15 2013  5    24  24.25742 30.34072
16 2013  6     2  26.07552 34.01337
17 2013  6    10  28.02229 30.61945
18 2013  6    13  63.75369 45.79083
19 2013  6    18  37.64803 35.95077
20 2013  6    24  51.17681 47.15742
21 2013  6    25  41.51368 43.06303
22 2013  6    26  27.31741 30.61175
23 2013  6    27  44.78330 40.89123
24 2013  6    28  44.97685 48.82778
25 2013  6    30  43.51028 44.18818
26 2013  7     1  58.28050 56.23383
27 2013  7     7  40.30638 36.61745
28 2013  7     8  29.64885 37.29665
29 2013  7     9  31.33437 30.71150
30 2013  7    10  59.62648 52.86070
31 2013  7    22  62.76340 46.66705
32 2013  7    23  44.95982 44.74169
33 2013  7    28  49.83178 37.71016
34 2013  8     1  35.98926 34.57403
35 2013  8     8  55.48116 43.34995
36 2013  8     9  43.31364 34.69190
37 2013  8    22  29.97674 33.60042
38 2013  8    28  35.20307 40.52689
39 2013  9     2  45.51843 53.02955
40 2013  9    12  58.91242 49.95875
41 2013 10     7  39.01726 39.14671
42 2013 10    11  18.92299 31.23184
43 2013 12     5  51.66625 52.32799
44 2013 12     8  36.91180 21.51534
45 2013 12     9  42.57556 34.80022
46 2013 12    10  44.50880 26.46549
47 2013 12    14  46.39750 28.36155
48 2013 12    17  55.87186 40.70560
49 2013 12    23  32.22604 32.25415