# Creating Vectors

In [1]:
x <- c(0.5, 0.6) # numeric
y <- c(TRUE, FALSE) ## Logical
z <- c("a", "b", "c") #Character

## Explicit Coercion

In [5]:
x <- 0:6
class(x)

[1] "integer"

In [6]:
as.numeric(x)

[1] 0 1 2 3 4 5 6

In [7]:
as.logical(x)

[1] FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [8]:
as.character(x)

[1] "0" "1" "2" "3" "4" "5" "6"

## Matrices

In [9]:
m <- matrix(nrow=2, ncol=3)
m

     [,1] [,2] [,3]
[1,] NA   NA   NA
[2,] NA   NA   NA

In [10]:
dim(m)

[1] 2 3

In [11]:
attributes(m)

$dim
[1] 2 3

Matrices are constructed columnwise

m <- matrix(1:6, nrow=2, ncol=3)
m

matrix can also be constructed from Vectors using the dim() command

In [13]:
m <- 1:10
m

 [1]  1  2  3  4  5  6  7  8  9 10

In [15]:
dim(m) <- c(2,5)
m

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

matrices can be created using column binding and row binding

In [16]:
x <- 1:3
y <- 10:12
cbind(x,y)

     x y
[1,] 1 10
[2,] 2 11
[3,] 3 12

In [17]:
rbind(x,y)

  [,1] [,2] [,3]
x  1    2    3
y 10   11   12

## Factors

Factors are used to represent categorical data and can be unordered or ordered. One can think of
a factor as an integer vector where each integer has a label. Factors are important in statistical
modeling and are treated specially by modelling functions like lm() and glm().
Using factors with labels is better than using integers because factors are self-describing. Having a
variable that has values “Male” and “Female” is better than a variable that has values 1 and 2.
Factor objects can be created with the factor() function.

In [18]:
x <- factor(c("Yes","Yes","No","Yes","No"))
x

[1] Yes Yes No  Yes No
Levels: No Yes

In [19]:
levels(x)

[1] "No"  "Yes"

In [21]:
table(x)

x
 No Yes
  2   3

Often factors will be automatically created for you when you read a dataset in using a function like
read.table(). Those functions often default to creating factors when they encounter data that look
like characters or strings.
The order of the levels of a factor can be set using the levels argument to factor(). This can be
important in linear modelling because the first level is used as the baseline level.

In [23]:
x <- factor(c("Yes","Yes","No","Yes","No"), levels=c("Yes","No"))
levels(x)

[1] "Yes" "No"

## Missing Values

Missing values are denoted by NA or NaN for q undefined mathematical operations.
 is.na() is used to test objects if they are NA
• is.nan() is used to test for NaN
• NA values have a class also, so there are integer NA, character NA, etc.
• A NaN value is also NA but the converse is not true

In [24]:
# create a vector with NAs in it
x <- c(1,2,NA,10,3)
# return logical vector indicating which elements are NA
is.na(x)

[1] FALSE FALSE  TRUE FALSE FALSE

## Data Frames

In [25]:
x <- data.frame(f00=1:4, bar=c(T,T,F,F))
x

  f00 bar
1 1    TRUE
2 2    TRUE
3 3   FALSE
4 4   FALSE

In [26]:
nrow(x)
ncol(x)

[1] 4

[1] 2

## Names

In [27]:
x <- 1:3
names(x)

NULL

In [28]:
names(x) <- c("New York", "Seattle", "Los Angeles")
x

   New York     Seattle Los Angeles
          1           2           3

## Reading Data Files with read.table()

## Subsetting a Vector

In [30]:
x <- c("a","b","c","c","d","a")
x[1] # first element
x[2]  # second element

[1] "a"

[1] "b"

In [31]:
x[1:4]  # first to 4th element

[1] "a" "b" "c" "c"

In [33]:
u <- x > "a"
u

[1] FALSE  TRUE  TRUE  TRUE  TRUE FALSE

## Removing NA values

In [34]:
x <- c(1, 2, NA, 4, NA, 5)
bad <- is.na(x)
print(bad)

[1] FALSE FALSE  TRUE FALSE  TRUE FALSE

In [35]:
x[!bad]

[1] 1 2 4 5

In [36]:
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [38]:
# we can use complete.cases on dataframes to eliminate missing values which returns logicals
good <- complete.cases(airquality)
head(airquality[good,])

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
7 23    299      8.6 65   5     7
8 19     99     13.8 59   5     8

## Vectorized operations

Many operations in R are vectorized, meaning that operations occur in parallel in certain R objects.
This allows you to write code that is efficient, concise, and easier to read than in non-vectorized
languages.

In [40]:
x <- 1:4
y <- 6:9
z <- x+y
z

[1]  7  9 11 13

In [41]:
x > 2

[1] FALSE FALSE  TRUE  TRUE

## Managing DataFrames with the DPLYR package